h1 {
  text-align: center;
  color: white;
  font-size: 55px;
  text-shadow: 2px 2px 4px black;
  background-color: rgba(0, 0, 0, 0.63);
  padding: 5%;
}

body {
  background-color: black;
  background-image: linear-gradient(
      to bottom,
      rgba(6, 1, 7, 0.685),
      rgba(12, 5, 26, 0.386)
    ),
    url("https://cutewallpaper.org/21/fast-food-wallpaper/Wallpaper-tomato-hamburger-Patty-sandwich-fast-food-bun-.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

table {
  margin-left: 4%;
  font-size: 24px;
  background-color: #151010ad;
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 27%;
}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: antiquewhite;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

th {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: antiquewhite;
}

/* Button styles */
button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #af954c;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3d2d09;
}

button:active {
  background-color: #8e623e;
}
a:visited {
  color: antiquewhite;
}
a:hover {
  color: rgb(185, 122, 38);
}
