/* Profile Page */
h1 {
  color: #fdfcfc;
  font-size: 24px;
  margin-bottom: 7%;
  padding: 5%;
  margin-top: 3%;
  background: linear-gradient(-45deg, #3d3d3c, #c0a342, #3f0d3e, #473e79);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

body {
  background-image: linear-gradient(
      to bottom,
      rgba(59, 35, 35, 0.5),
      rgba(0, 0, 0, 0.7)
    ),
    url("https://cutewallpaper.org/21/fast-food-wallpaper/Wallpaper-tomato-hamburger-Patty-sandwich-fast-food-bun-.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h1 p {
  font-weight: normal;
  font-size: 18px;
}
h2 {
  color: #f8f4f4;
  font-size: 40px;
  margin-bottom: 10px;
  margin-left: 10%;
}

form p {
  font-weight: bold;
}

form {
  padding: 3% 5%;
  font-size: 30px;
  color: white;
  margin-left: 10%;
  background-color: #242121cb;
}

/* User Details Form */
form[action="/update-user-details"] {
  margin-bottom: 20px;
}

form[action="/update-user-details"] label {
  display: block;
  margin-bottom: 5px;
}

form[action="/update-user-details"] input[type="text"] {
  width: 250px;
  padding: 5px;
  margin-bottom: 10px;
}

form[action="/update-user-details"] button[type="submit"] {
  padding: 8px 16px;
  background-color: rgb(91, 186, 65);
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

/* Change Password Form */
form[action="/change-password"] {
  margin-bottom: 20px;
}

form[action="/change-password"] label {
  display: block;
  margin-bottom: 5px;
}

form[action="/change-password"] input[type="password"] {
  width: 250px;
  padding: 5px;
  margin-bottom: 10px;
}

form[action="/change-password"] button[type="submit"] {
  padding: 8px 16px;
  background-color: rgb(91, 186, 65);
  font-weight: bold;
  color: #fff;
  border: none;
  cursor: pointer;
}

table {
  margin-left: 10%;
  background-color: #141111de;
  width: 80%;
  border-collapse: collapse;
  margin-bottom: 5%;
}

th {
  text-align: center;
  padding: 1%;
  font-weight: normal;
  font-size: 26px;
  color: #f8f4f4;
  border-bottom: 1px solid rgb(196, 166, 97);
  letter-spacing: 2px;
}

td {
  padding: 1%;
  font-size: 18px;
  color: #f8f4f4;
  text-align: center;
  border-bottom: 1px solid rgba(247, 231, 178, 0.311);
  letter-spacing: 2px;
}
.forms-container {
  display: flex;
  margin-left: 14%;
  margin-bottom: 5%;
}
.link {
  background-color: rgb(91, 186, 65);
}
footer {
  margin-top: 100px;
  text-align: center;
  bottom: 0%;
  font-size: 16.5px;
  width: 100%;
  height: 125px;
  background-color: #1f202293;
  color: white;
}
.dd {
  color: white;
  font-size: 30px;
  background-color: #271300c9;
  box-shadow: 2px 2px black;
  padding: 2% 5%;
  margin-left: 35%;
}
.dd:hover {
  text-decoration: underline;
  background-color: #756634bb;
}
.logout {
  background-color: rgb(91, 186, 65);
  padding: 1%;
  color: white;
  margin-left: 47%;
  border-radius: 8px;
}
.logout:hover {
  color: red;
}
