<!DOCTYPE html>
<html>
  <head>
    <title>About iiiteats</title>
    <link rel="stylesheet" type="text/css" href="../static/about.css" />
    <link rel="stylesheet" href="../static/navbar.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../static/about.css">
    <link rel="stylesheet" href="../static/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&family=Bebas+Neue&family=Domine&family=Maven+Pro:wght@500&family=Righteous&family=Signika+Negative&family=The+Nautigal&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar">
      <img src="../static/hackathon_logo.png" alt="logo" />
      <a href="/profile">PROFILE</a>
      <a href="/main">HOME</a>
      <a href="/take_orders">DELIVER ORDER</a>
      <a href="/canteens">PLACE ORDER</a>
      <a href="/about">ABOUT</a>
    </nav>
     <img src="../static/hackathon_logo.png" style="margin-top: 80px;margin-left: 760px ;width: 330px;">
    <div class="title1"><h1>ABOUT IIITeats</h1></div>

    <div class="box">
      <p>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ever asked your friend at Tantra to get you some fried rice just because
      you were too lazy to walk out and get it yourself? But what if your
      nightmares come true and it turns out none of your friends are at the
      canteen? Fear no more! Introducing IIITEats: a decentralized
      freelancing-style delivery solution for the IIIT community to simplify
      intra-campus deliveries while making some money off of it. Craving a
      shawarma from Tantra? Just place your order on the app and someone
      currently at the canteen can deliver it to your room for some extra fee.</br>
      At some canteen and looking to make a quick buck? Open up the app to see
      the current orders people have placed so you can deliver it to them!
    </p>
    </div>
   
    <div class="title1"><h1>HOW  IT  WORKS</h1></div>
    <div class="box">
    <p class="subtitle">Ordering from iiiteats:</p>
    <ol>
      <li>Create an account or log in to your existing account.</li>
      <li>Browse through the menus of various canteens.</li>
      <li>Order your desired item.</li>
      <li>Provide delivery details and make payment.</li>
      <li>Sit back and relax someone delivers your food.</li>
    </ol>

    <p class="subtitle">Delivering from iiiteats:</p>
    <ol>
      <li>Create an account or log in to your existing account.</li>
      <li>
        See the list of orders placed and choose the one most convenient for
        you.
      </li>
      <li>
        Once delivered, mark the item as delivered from your delivery dashboard
        and get quick cash in hand!
      </li>
    </ol>
    </div>

    <div class="title1"><h1>CONTACT US</h1></div>
    <div class="box">
    <p>
      If you have any questions, feedback, or inquiries, we would love to hear
      from you:
    </p>
    <p class="subtitle">Our Team:</p>
    <div class="team">
    <div class="member">
      <p>Pratishtha Saxena</p>
      <p>2022113008</p>
      <p>pratishtha.saxena@research.iiit.ac.in</p>
    </div>
    <div class="member">
      <p>Jayesh Sutar</p>
      <p>2022101001</p>
      <p>jayesh.sutar@students.iiit.ac.in</p>
    </div>
    <div class="member">
      <p>Vyakhya Gupta</p>
      <p>2022101104</p>
      <p>vyakhya.gupta@students.iiit.ac.in</p>
    </div>
   </div>
  </div>
  <footer>
    <br>
    <p>Satiate your cravings or Turn your spare time into extra cash! Join our community and let us serve you with all that we can. Know more <u> <b> <a
                    href="/about">about us.</a> </u> </b> </p>
    <p><b>IIITeats</b></p>
    <br>
</footer> 
  </body>
</html>
