<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/placeOrder.css" />
    <link rel="stylesheet" href="../static/navbar.css" />
    <link rel="stylesheet" href="../static/footer.css" />
    <title>Place Order</title>
  </head>
  <body>
    <nav class="navbar">
      <img src="../static/hackathon_logo.png" alt="logo" />
      <a href="/profile">PROFILE</a>
      <a href="/main">HOME</a>
      <a href="/take_orders">DELIVER ORDER</a>
      <a href="/canteens">PLACE ORDER</a>
      <a href="/about">ABOUT</a>
    </nav>
    <div class="title">Choose Canteen</div>
    <hr style="color: rgb(219, 193, 46);width: 80%; margin-bottom: 3%;">
    <form action="/menu.html" method="get">
      <div class="box" id="close">
        <input type="hidden" name="canteenId" value="3" />
        <input type="submit" class="can" value="Tantra Food Zone" />
      </div>
    </form>
    <div class="content"></div>

    <form action="/menu.html" method="get">
      <div class="box" id="close">
        <input type="hidden" name="canteenId" value="1" />
        <input type="submit" class="can" value="Vindhya Canteen" />
      </div>
    </form>
    <div class="content"></div>

    <form action="/menu.html" method="get">
      <div class="box" id="close">
        <input type="hidden" name="canteenId" value="2" />
        <input type="submit" class="can" value="Basket Ball Canteen" />
      </div>
    </form>
    <div class="content"></div>
    <hr style="color: rgb(219, 193, 46);width: 80%; margin-bottom: 3%;">
    <div class="rate"><a href="/ratings">Rate canteens</a></div>
    <br><br>
    <div class="rate"><a href="/search-menu?query=&canteen=&min_price=&max_price=">Browse Menu</a></div>
    <footer>
        <br>
        <p>Satiate your cravings or Turn your spare time into extra cash! Join our community and let us serve you with all that we can. Know more <u> <b> <a
                        href="/about">about us.</a> </u> </b> </p>
        <p><b>IIITeats</b></p>
        <br>
    </footer> 
  </body>
</html>
