<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to IIIT Eats</title>
    <link rel="stylesheet" href="../static/home.css" />
    <link rel="stylesheet" href="../static/navbar.css" />
    <link rel="stylesheet" href="../static/footer.css" />
  </head>
  <body>
    <nav class="navbar">
      <a href="/signup">Sign Up</a>
      <a href="/login">Login</a>
      <!--<a href="artists.html">Artists</a>-->
    </nav>
    <img
      src="../static/hackathon_logo.png"
      style="margin-top: 80px; margin-left: 40%; width: 300px"
    />

    <div class="content">
      <h1>Craving something but also lazy enough??</h1>
      <h1>Or just want to earn some quick bucks?</h1>
      <div style="color: rgba(167, 167, 167, 0); font-size: 80px">
        .
        <span id="typing_effect"></span>
      </div>
    </div>
    <footer>
      <br>
      <p>Satiate your cravings or Turn your spare time into extra cash! Join our community and let us serve you with all that we can. Know more <u> <b> <a
                      href="/about">about us.</a> </u> </b> </p>
      <p><b>IIITeats</b></p>
      <br>
  </footer> 
    <script src="../static/typing.js"></script>
  </body>
</html>
