<!DOCTYPE html>
<html>

<head>
    <title>MAIN</title>
    <link href="../static/main.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/footer.css">
    </head>
    <body>
        <nav class="navbar">
            <img src="../static/hackathon_logo.png" alt="logo">
            <a href="/profile">PROFILE</a>
            <a href="/main">HOME</a>
            <a href="/take_orders">DELIVER ORDER</a>
            <a href="/canteens">PLACE ORDER</a>
            <a href="/about">ABOUT</a>
            

        </nav>
        <div class="flex-container-1">
        <div class="flex-container">
            <a href="/canteens">
            <div class="artist"> <img src="https://thumbs.dreamstime.com/b/people-buy-online-vector-illustration-cartoon-flat-man-buyer-character-ordering-buying-fastfood-food-delivery-people-buy-191410740.jpg">
            </br></br> <div class="name"> PLACE ORDER </div>
            </div>
            </a>
        </div>
        <div class="flex-container">
            <a href="/take_orders">
                <div class="artist"> <img src="https://img.freepik.com/premium-vector/delivery-man-holding-food-bag-illustration_23-2148896781.jpg?w=2000" style="margin-top: 10px;">
                </br></br> <div class="name"> DELIVER ORDER </div>
                </div>
            </a>
        </div>
    </div>

    <footer>
        <br>
        <p>Satiate your cravings or Turn your spare time into extra cash! Join our community and let us serve you with all that we can. Know more <u> <b> <a
                        href="/about">about us.</a> </u> </b> </p>
        <p><b>IIITeats</b></p>
        <br>
    </footer> 
    </body>
    </html>