<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Menu</title>
    <link rel="stylesheet" href="../static/menu.css" />
    <link rel="stylesheet" href="../static/navbar.css" />
    <link rel="stylesheet" href="../static/footer.css" />
  </head>
  <body>
    <nav class="navbar">
      <img src="../static/hackathon_logo.png" alt="logo" />
      <a href="/profile">PROFILE</a>
      <a href="/main">HOME</a>
      <a href="/take_orders">DELIVER ORDER</a>
      <a href="/canteens">PLACE ORDER</a>
      <a href="/about">ABOUT</a>
    </nav>
    <h1 class="ftitle">Menu</h1>
    <div class="menu-container">
      {% for item in menu_items %}
      <div class="menu-item">
        <div class="item-name">Dish: {{ item[1] }}</div>
        <div class="item-price">Cost: Rs. {{ item[2] }} </div>
        <div class="order-button">
          <button class="order" onclick="toggleOrderForm('{{ item[0] }}')">
            Order
          </button>
        </div>
        <div
          id="order-form-{{ item[0] }}"
          class="order-form"
          style="display: none"
        >
          <form method="POST" action="/place_order">
            <input type="hidden" name="menuId" value="{{ item[0] }}" />
            <input type="hidden" name="canteenId" value="{{ canteen_id }}" />
            <label for="location" class="llabel">Location:</label>
            <input
              type="text"
              id="location"
              name="location"
              requiredplaceholder=""
            /><br /><br />
            <label for="quantity" class="qlabel">Quantity:</label>
            <input
              type="number"
              id="quantity"
              name="quantity"
              min="1"
              max="10"
              required
            /><br /><br />
            <input type="submit" class="submitbtn" value="Place Order" />
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
    <input type="hidden" id="canteen_id" value="{{ canteen_id }}" />
    <footer>
        <br>
        <p>Satiate your cravings or Turn your spare time into extra cash! Join our community and let us serve you with all that we can. Know more <u> <b> <a
                        href="/about">about us.</a> </u> </b> </p>
        <p><b>IIITeats</b></p>
        <br>
    </footer> 
    <script>
      function toggleOrderForm(menuId) {
        var form = document.getElementById("order-form-" + menuId);
        if (form.style.display === "none") {
          form.style.display = "block";
        } else {
          form.style.display = "none";
        }
      }
    </script>
  </body>
</html>
