<!DOCTYPE html>
<html>
  <head>
    <title>Menu</title>
    <link rel="stylesheet" href="../static/search.css" />
    <link rel="stylesheet" href="../static/navbar.css" />
    <link rel="stylesheet" href="../static/footer.css" />
  </head>
  <body>
    <nav class="navbar">
      <img src="../static/hackathon_logo.png" alt="logo" />
      <a href="/profile">PROFILE</a>
      <a href="/main">HOME</a>
      <a href="/take_orders">DELIVER ORDER</a>
      <a href="/canteens">PLACE ORDER</a>
      <a href="/about">ABOUT</a>
    </nav>
    <h1>Menu</h1>
    <p>
      Browse all available items. If you find anything you like, go to place
      Order option on the Navbar and order your favorite food!
    </p>

    <form action="/search-menu" method="GET">
      <input
        type="text"
        name="query"
        placeholder="Search"
        value="{{ query }}"
      />
      <select name="canteen">
        <option value="">All Canteens</option>
        {% for canteen in canteens %}
        <option value="{{ canteen }}">{{ canteen }}</option>
        {% endfor %}
      </select>
      <input
        type="number"
        name="min_price"
        placeholder="Min Price"
        value="{{ min_price }}"
      />
      <input
        type="number"
        name="max_price"
        placeholder="Max Price"
        value="{{ max_price }}"
      />
      <button type="submit">Search</button>
    </form>

    <table>
      {% for item in menu_items %}
      <tr>
        <td>
          <div class="result-box">
            <div class="result-title">{{ item[0] }}</div>
            <div class="result-details"><span>Cost</span> {{ item[1] }}</div>
            <div class="result-details"><span>Canteen</span> {{ item[2] }}</div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </table>
    <footer>
      <br>
      <p>Satiate your cravings or Turn your spare time into extra cash! Join our community and let us serve you with all that we can. Know more <u> <b> <a
                      href="/about">about us.</a> </u> </b> </p>
      <p><b>IIITeats</b></p>
      <br>
  </footer> 
  </body>
</html>
